<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    <script>
      const mobileMenu = document.querySelector("[data-mobile-menu]");
      const nav = document.querySelector("[data-nav]");
      
      function toggleMobileMenu() {
        nav.classList.toggle("menu-open");
      }
      
      mobileMenu.addEventListener("click", toggleMobileMenu);
      
      </script>
  </body>
</html>
